<!doctype html>
<title>Hostname</title>
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/custom.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<div class=page style="height: 100%;">

  <div class="container container-table">

      <div class="row vertical-center-row">
          
          <div class="text-center col-md-8 col-md-offset-2">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h1 class="panel-title text-center">Hostname</h1>
              </div>
              <div class="panel-body text-center">
                <strong>{{hostname}}</strong>
              </div>
            </div>

          </div>

      </div>

  </div>

</div>